<!DOCTYPE html>
<html>
<head>
    <title>Example formBuilder</title>
</head>
<body>
<!-- Include stylesheet -->
    <!--<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Create the editor container &ndash;&gt;-->
    <!--<h1>What you see is what you get text editor</h1>-->
    <!--<div id="editor">-->
        <!--<p>Hello World!</p>-->
        <!--<p>Some initial <strong>bold</strong> text</p>-->
        <!--<p><br></p>-->
    <!--</div>-->
    <!--<br>-->
    <!--<br>-->
    <!-- Include the Quill library -->
    <!--<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>-->

    <!-- Initialize Quill editor -->
    <script>
        // var quill = new Quill('#editor', {
        //     modules: {
        //         toolbar: [
        //             [{header: [1, 2, false] }],
        //             ['bold', 'italic', 'underline'],
        //             ['image', 'link']
        //         ]
        //     },
        //     theme: 'snow'
        // });

        // var otherQuill = new Quill('#editor2', {
        // 	modules: {
        // 		toolbar: [
        // 			[{header: [1, 2, false] }],
        // 			['bold', 'italic', 'underline'],
        // 			['image', 'link']
        // 		]
        // 	},
        // 	theme: 'snow'
        // });

        // quill.on('text-change', function(delta, oldDelta, source) {
            // console.log('Source:', source);
        //     console.log('Delta:', delta);
        //     let content = quill.getContents();
        //     console.log('Content:', content)
        //     otherQuill.setContents(content);
        // });
    </script>
    <h1>This lets you build a form how you want it to be with different inputs. I believe you can even just input the data you want to while setting up the form. It's not set up now, but I'm thinking
    after you build the form and input the data, I could save the inputs to a database. Then I could display those inputs on a different page and let you select which inputs you'd want to have created in a PDF, not sure about the 'beatifully generated' part, but it's a start.</h1>
    <div id="fb-editor"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
    <script>
        jQuery(function($) {
            $(document.getElementById('fb-editor')).formBuilder();
        });
    </script>
</body>
</html>